<div class="row center-xs">
  <div class="col-xs-8 col-md-6">
    <div class="box login">
      <h2 class="login-title">Olvidaste tu contraseña?</h2>

      <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>

        <div class="field">
        <!--<%= f.label :email %><br />-->
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"login-input", placeholder:"Ingrese correo" %>
        </div>

        <div class="actions">
          <%= f.submit "Restablecer Contraseña", class:"login-button" %>
        </div>
      <% end %>
      <div class="actions ">
        <%= render "devise/shared/links" %>
      </div>      
      <%= stylesheet_link_tag "registrations" %>
      </div>
  </div>
</div>
