<!doctype html>
<html lang="en">
	<head>
		<!-- Required meta tags -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.min.css">
		<link rel="stylesheet" href="css/main.css">
		<link rel="stylesheet" href="node_modules/open-iconic/font/css/open-iconic-bootstrap.min.css">

		<title>Viveros</title>
	</head>
	<body>
  		<%= render "/partials/menu" %>

		<div class="jumbotron">	
			<h1>Gestor de Productos</h1>
		</div>	
		<div class="container">

			<nav aria-label="breadcrumb">
				<ol class="btn btn-primary">
					<%= link_to "Agregar producto", "/control_products/new" %>
				</ol>
            </nav>

			<div class="table-responsive">
				<table class="table table-striped">
					<thead class="thead-dark">
						<th>Registro ICA</th>
						<th>Nombre</th>
                        <th>Frecuencia de Aplicación</th>
						<th>Precio</th>
						<th COLSPAN="2">Actualizar</th>

					</thead>
                    <tbody>
                        <% @control_products.each do |control_product| %>
						<tr>	
							<td><%= control_product.ica_registration %></td>
                            <td><%= control_product.name %></td>
                            <td><%= control_product.application_frequency %></td>
							<td><%= control_product.price_product %></td>
							<td><%= link_to "Editar", edit_control_product_path(control_product) %></td>
							<td><%= link_to "Eliminar", control_product, method: :delete, data: { confirm: "Seguro?" } %></td>
						</tr>
						
                        <% end %>
					</tbody>
				</table>			
			</div>
		</div>
		
		<footer>
			<%= render "/partials/footer" %>
		</footer>
	

		<!-- Optional JavaScript -->
		<!-- jQuery first, then Popper.js, then Bootstrap JS -->
		<script src="node_modules/jquery/dist/jquery.min.js"></script>
		<script src="node_modules/popper.js/dist/popper.min.js"></script>
		<script src="node_modules/bootstrap/dist/js//bootstrap.min.js"></script>
	</body>
</html>