<!doctype html>
<html lang="en">
	<head>
		<!-- Required meta tags -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.min.css">
		<link rel="stylesheet" href="css/main.css">
		<link rel="stylesheet" href="node_modules/open-iconic/font/css/open-iconic-bootstrap.min.css">

		<title>Viveros</title>
	</head>
	<body>
  		<%= render "/partials/menu" %>

		<div class="jumbotron">	
			<h1>Gestor de Labores</h1>
		</div>	
		<div class="container">

			<nav aria-label="breadcrumb">
				<ol class="btn btn-primary">
					<%= link_to "Agregar Labor", "/labors/new" %>
				</ol>
            </nav>

			<div class="table-responsive">
				<table class="table table-striped">
					<thead class="thead-dark">
						<th>Fecha</th>
						<th>Descripción</th>
						<th>Tipo de labor</th>
						<th>Producto</th>
						<th>Fecha Creación</th>
						<th COLSPAN="2">Actualizar</th>

					</thead>
                    <tbody>
                        <% @labors.each do |labor| %>
						<tr>	
							<td><%= labor.date %></td>
                            <td><%= labor.description %></td>
							<td><%= labor.labor_type %></td>
							<td><%= labor.Control_product_id %></td>
							<td><%= labor.created_at %></td>
							<td><%= link_to "Editar", edit_labor_path(labor) %></td>
							<td><%= link_to "Eliminar", labor, method: :delete, data: { confirm: "Seguro?" } %></td>
						</tr>
						
                        <% end %>
					</tbody>
				</table>			
			</div>
		</div>
		
		<footer>
			<%= render "/partials/footer" %>
		</footer>
	

		<!-- Optional JavaScript -->
		<!-- jQuery first, then Popper.js, then Bootstrap JS -->
		<script src="node_modules/jquery/dist/jquery.min.js"></script>
		<script src="node_modules/popper.js/dist/popper.min.js"></script>
		<script src="node_modules/bootstrap/dist/js//bootstrap.min.js"></script>
	</body>
</html>